In [1]:
#load relevant packages

from math import cos, asin, sqrt, pi
import pandas as pd
import numpy as np
import json
#from tqdm import tqdm
#tqdm.pandas()
import sqlalchemy
import psycopg2

In [3]:
# Business json einlesen
data_file = open("/home/sync/yelp/yelp_academic_dataset_business.json")
data = []
for line in data_file:
    data.append(json.loads(line))

In [4]:
restaurant_df = pd.DataFrame(data)
data_file.close()
#drop restaurants with false geo data
restaurant_df.drop(restaurant_df[restaurant_df.longitude > 0].index,inplace = True)
#edit df
restaurant_df.drop(columns =['hours', 'attributes'], inplace =True)

#filter for only open restaurants
#restaurant_df = restaurant_df[restaurant_df['is_open']==1]

#filter for only restaurants
restaurant_df = restaurant_df[restaurant_df.categories.str.contains("Restaurant")==True]
#drop restaurant which is the only one in state 'ABE'
restaurant_df.drop(restaurant_df[restaurant_df['business_id'] == 'WaD_wuvvDFPTrz8ouDPtAw' ].index, inplace = True)

In [12]:
categories_df = pd.DataFrame({"categories":list(set(restaurant_df.categories.str.split(pat=",").explode()))})
categories_df['categories'] = categories_df['categories'].str.strip()
categories_df = categories_df.drop_duplicates()
categories_df  = categories_df.reset_index(drop=True)
categories_df['categorie_id'] = categories_df.index + 1
categories_df

                   categories  categorie_id
0              Sporting Goods             1
1                      French             2
2                    Barbeque             3
3                   Bar Crawl             4
4    Mobile Phone Accessories             5
..                        ...           ...
723          Eyebrow Services           724
724                      Yoga           725
725             Skating Rinks           726
726         Hair Loss Centers           727
727           Eyelash Service           728

[728 rows x 2 columns]

In [23]:
engine = sqlalchemy.create_engine('')
categories_df.to_sql('categorie', engine, if_exists='append', index = False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_categorie"
DETAIL:  Key (categorie_id)=(1) already exists.

[SQL: INSERT INTO categorie (categories, categorie_id) VALUES (%(categories)s, %(categorie_id)s)]
[parameters: ({'categories': 'Sporting Goods', 'categorie_id': 1}, {'categories': 'French', 'categorie_id': 2}, {'categories': 'Barbeque', 'categorie_id': 3}, {'categories': 'Bar Crawl', 'categorie_id': 4}, {'categories': 'Mobile Phone Accessories', 'categorie_id': 5}, {'categories': 'Canadian (New)', 'categorie_id': 6}, {'categories': 'Mountain Biking', 'categorie_id': 7}, {'categories': 'Bingo Halls', 'categorie_id': 8}  ... displaying 10 of 728 total bound parameter sets ...  {'categories': 'Hair Loss Centers', 'categorie_id': 727}, {'categories': 'Eyelash Service', 'categorie_id': 728})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [24]:
restaurant_df_tidy = restaurant_df[['business_id', 'categories']]
restaurant_df_tidy['categories'] = restaurant_df_tidy.categories.str.split(pat=",")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
restaurant_df_tidy

,business_id,categories
0,6iYb2HFDywm3zjuRg0shjw,"[Gastropubs, Food, Beer Gardens, Restaurant..."
1,tCbdrRPZA0oiIYSmHG3J0w,"[Salad, Soup, Sandwiches, Delis, Restauran..."
5,D4JtQNTI4X3KcbzacDJsMw,"[Restaurants, Thai]"
7,jFYIsSb7r1QeESVUnXPHBw,"[Breakfast & Brunch, Restaurants]"
12,HPA_qyMEddpAEtFof02ixg,"[Food, Pizza, Restaurants]"
...,...,...
160573,Zl6SUy6x9jqjRu2HbtEO6A,"[American (Traditional), Desserts, American ..."
160574,Q78fYV6B6P6GmX07YVgi4g,"[Mexican, Bars, Nightlife, Tex-Mex, Restau..."
160575,uXdQkuEtvLAzfc3MsO-sTQ,"[Restaurants, Mexican, Latin American]"
160583,GB75wPibj3IjNauaoCxyGA,"[Cuban, Sandwiches, Restaurants, Cafes]"
160584,ngmLL5Y5OT-bYHKU0kKrYA,"[Restaurants, Middle Eastern, Mediterranean,..."

In [106]:
res = restaurant_df_tidy.explode('categories').reset_index(drop=True)
res['categories'] = res['categories'].str.strip()
res = res.rename(columns={"categories": "categorie_id"})

In [29]:

res = restaurant_df_tidy.explode('categories').reset_index(drop=True)
res['categories'] = res['categories'].str.strip()
res = res.rename(columns={"categories": "categorie_id"})

res

                   business_id     categorie_id
0       6iYb2HFDywm3zjuRg0shjw       Gastropubs
1       6iYb2HFDywm3zjuRg0shjw             Food
2       6iYb2HFDywm3zjuRg0shjw     Beer Gardens
3       6iYb2HFDywm3zjuRg0shjw      Restaurants
4       6iYb2HFDywm3zjuRg0shjw             Bars
...                        ...              ...
237678  ngmLL5Y5OT-bYHKU0kKrYA      Restaurants
237679  ngmLL5Y5OT-bYHKU0kKrYA   Middle Eastern
237680  ngmLL5Y5OT-bYHKU0kKrYA    Mediterranean
237681  ngmLL5Y5OT-bYHKU0kKrYA  Persian/Iranian
237682  ngmLL5Y5OT-bYHKU0kKrYA            Salad

[237683 rows x 2 columns]

In [30]:
categories_dict = dict(zip(categories_df.categories, categories_df.categorie_id))

In [31]:
categories_dict

{'Sporting Goods': 1,
 'French': 2,
 'Barbeque': 3,
 'Bar Crawl': 4,
 'Mobile Phone Accessories': 5,
 'Canadian (New)': 6,
 'Mountain Biking': 7,
 'Bingo Halls': 8,
 'Cuban': 9,
 'Personal Chefs': 10,
 'Persian/Iranian': 11,
 'Tabletop Games': 12,
 'Convenience Stores': 13,
 'Marketing': 14,
 'Mediterranean': 15,
 'American (New)': 16,
 'Pizza': 17,
 'Whiskey Bars': 18,
 'Real Estate Agents': 19,
 'Service Stations': 20,
 'Beaches': 21,
 'Gas Stations': 22,
 'Music & DVDs': 23,
 'Professional Services': 24,
 'Swimming Pools': 25,
 'Cosmetics & Beauty Supply': 26,
 'Dance Studios': 27,
 'Dry Cleaning & Laundry': 28,
 'Parks': 29,
 'Poke': 30,
 'Orthodontists': 31,
 'Used': 32,
 'Teppanyaki': 33,
 'Soul Food': 34,
 'Bangladeshi': 35,
 'Painters': 36,
 'Property Management': 37,
 'Veterinarians': 38,
 'Mini Golf': 39,
 'Pasta Shops': 40,
 'Shanghainese': 41,
 'Wraps': 42,
 'Ferries': 43,
 'Shoe Stores': 44,
 'Dance Clubs': 45,
 'Pet Sitting': 46,
 'Barbers': 47,
 'Hookah Bars': 48,
 'Himalayan/Nepalese': 49,
 'Puerto Rican': 50,
 'Austrian': 51,
 'Bed & Breakfast': 52,
 'Ukrainian': 53,
 'Florists': 54,
 'Employment Agencies': 55,
 'Cooking Classes': 56,
 'Gyms': 57,
 'Candy Stores': 58,
 'Music Venues': 59,
 'Farms': 60,
 'Motorcycle Dealers': 61,
 'Bagels': 62,
 'Outlet Stores': 63,
 'Ethnic Food': 64,
 'Boat Charters': 65,
 'Home Cleaning': 66,
 'Macarons': 67,
 'Middle Eastern': 68,
 'Filipino': 69,
 'Hair Stylists': 70,
 'Hair Removal': 71,
 'Plumbing': 72,
 'Patisserie/Cake Shop': 73,
 'Delicatessen': 74,
 'Skin Care': 75,
 'Laotian': 76,
 'Cupcakes': 77,
 'Pub Food': 78,
 'Specialty Food': 79,
 'Piano Bars': 80,
 'American (Traditional)': 81,
 'French Southwest': 82,
 'Gelato': 83,
 'British': 84,
 'Shoe Shine': 85,
 'Wedding Planning': 86,
 'Dive Bars': 87,
 'Surf Shop': 88,
 'Engraving': 89,
 'Themed Cafes': 90,
 'Pharmacy': 91,
 'Outdoor Furniture Stores': 92,
 'Arabian': 93,
 'Steakhouses': 94,
 'Hospitals': 95,
 'Tex-Mex': 96,
 'Olive Oil': 97,
 'Heating & Air Conditioning/HVAC': 98,
 'Bookstores': 99,
 'Malaysian': 100,
 'Bike Repair/Maintenance': 101,
 'Television Service Providers': 102,
 'Horseback Riding': 103,
 'Historical Tours': 104,
 'Tennis': 105,
 'Somali': 106,
 'Art Tours': 107,
 'Georgian': 108,
 'Indoor Playcentre': 109,
 'Real Estate': 110,
 'Tapas/Small Plates': 111,
 'Cheesesteaks': 112,
 'Pretzels': 113,
 'Sports Medicine': 114,
 'Japanese': 115,
 'Bistros': 116,
 'CSA': 117,
 'Distilleries': 118,
 'Lounges': 119,
 'Newspapers & Magazines': 120,
 'Doctors': 121,
 'Videos & Video Game Rental': 122,
 'Threading Services': 123,
 'Creperies': 124,
 'Dermatologists': 125,
 'Cardiologists': 126,
 'Cardio Classes': 127,
 'Shaved Snow': 128,
 'Country Clubs': 129,
 'Sushi Bars': 130,
 'Laundromat': 131,
 'Polynesian': 132,
 'Cannabis Dispensaries': 133,
 'Nutritionists': 134,
 'Medical Centers': 135,
 'Party Supplies': 136,
 'Hakka': 137,
 'Dinner Theater': 138,
 'Bakeries': 139,
 'Health Coach': 140,
 'Car Stereo Installation': 141,
 'Brazilian': 142,
 'Basque': 143,
 'Carpet Installation': 144,
 'Guns & Ammo': 145,
 'Nightlife': 146,
 'Pakistani': 147,
 'Pancakes': 148,
 'Air Duct Cleaning': 149,
 'Adult Entertainment': 150,
 'Summer Camps': 151,
 'Jewelry': 152,
 'Chinese': 153,
 'Pool Halls': 154,
 'Scottish': 155,
 'Office Cleaning': 156,
 'Cantonese': 157,
 'Butcher': 158,
 'Golf Equipment': 159,
 'Oil Change Stations': 160,
 'Flooring': 161,
 'Drugstores': 162,
 'Mass Media': 163,
 'Tasting Classes': 164,
 'Ethnic Grocery': 165,
 'Food Banks': 166,
 'Synagogues': 167,
 'Wine Bars': 168,
 'Home & Garden': 169,
 'Medical Spas': 170,
 'Lakes': 171,
 'Family Practice': 172,
 'Strip Clubs': 173,
 'Pet Adoption': 174,
 'Interior Design': 175,
 'Animal Shelters': 176,
 'Colombian': 177,
 'Wholesale Stores': 178,
 'Irish': 179,
 'Video/Film Production': 180,
 'Buffets': 181,
 'Ethiopian': 182,
 'Karaoke': 183,
 'Vocational & Technical School': 184,
 'Hawaiian': 185,
 'Moroccan': 186,
 'Farmers Market': 187,
 'Spanish': 188,
 'Cheese Shops': 189,
 'Greek': 190,
 'Local Flavor': 191,
 'Breakfast & Brunch': 192,
 'Weight Loss Centers': 193,
 'Sri Lankan': 194,
 'Surgeons': 195,
 'Auto Repair': 196,
 'Venezuelan': 197,
 'Auto Detailing': 198,
 'Oriental': 199,
 'Juice Bars & Smoothies': 200,
 'Commercial Real Estate': 201,
 'Pet Groomers': 202,
 'Calabrian': 203,
 'Concept Shops': 204,
 'Adult': 205,
 'Parent Cafes': 206,
 'Automotive': 207,
 'Public Markets': 208,
 'Vitamins & Supplements': 209,
 'Special Education': 210,
 'Street Vendors': 211,
 'Wigs': 212,
 'Door Sales/Installation': 213,
 'Mongolian': 214,
 'Chicken Shop': 215,
 'Transmission Repair': 216,
 'Australian': 217,
 'Food Stands': 218,
 'Food Delivery Services': 219,
 'Water Parks': 220,
 'Acupuncture': 221,
 'Playgrounds': 222,
 'Countertop Installation': 223,
 'German': 224,
 'Beer': 225,
 'Restaurant Supplies': 226,
 'Food Court': 227,
 'Bubble Tea': 228,
 'Art Classes': 229,
 'Psychics': 230,
 'Fishing': 231,
 'Mattresses': 232,
 'Furniture Stores': 233,
 'Soup': 234,
 'Taxis': 235,
 'Printing Services': 236,
 'Grocery': 237,
 'Swiss Food': 238,
 'Dentists': 239,
 'Fireplace Services': 240,
 'Health & Medical': 241,
 'Shopping Centers': 242,
 'Falafel': 243,
 'Tours': 244,
 'Electronics Repair': 245,
 'Ski Resorts': 246,
 'Musical Instrument Services': 247,
 'Vinyl Records': 248,
 'Pets': 249,
 'Bartenders': 250,
 'Speakeasies': 251,
 'Imported Food': 252,
 'Golf Lessons': 253,
 'Souvenir Shops': 254,
 'Vegan': 255,
 'Congee': 256,
 'Comedy Clubs': 257,
 'Pan Asian': 258,
 'Churches': 259,
 'Cigar Bars': 260,
 'Seafood': 261,
 'Armenian': 262,
 'Food Trucks': 263,
 'Scavenger Hunts': 264,
 "Women's Clothing": 265,
 'Colleges & Universities': 266,
 'Coffee Roasteries': 267,
 'Gay Bars': 268,
 'Peruvian': 269,
 'Acai Bowls': 270,
 'Internet Service Providers': 271,
 'Blow Dry/Out Services': 272,
 'Grilling Equipment': 273,
 'Salad': 274,
 'Donuts': 275,
 'Roadside Assistance': 276,
 'Empanadas': 277,
 'Rest Stops': 278,
 'Movers': 279,
 'Arts & Entertainment': 280,
 'Wedding Chapels': 281,
 'Supernatural Readings': 282,
 'Makeup Artists': 283,
 'Afghan': 284,
 'Waffles': 285,
 'Festivals': 286,
 'Honduran': 287,
 'Modern European': 288,
 'Pest Control': 289,
 'Massage Therapy': 290,
 'Vape Shops': 291,
 'Russian': 292,
 'Senegalese': 293,
 'Keys & Locksmiths': 294,
 'Tree Services': 295,
 'Airports': 296,
 'Comfort Food': 297,
 'Ice Cream & Frozen Yogurt': 298,
 'Hotels & Travel': 299,
 'Meat Shops': 300,
 'Cinema': 301,
 'Diamond Buyers': 302,
 'Trainers': 303,
 'Glass Blowing': 304,
 'Eatertainment': 305,
 'Caribbean': 306,
 'Wine Tours': 307,
 'Gluten-Free': 308,
 'Dim Sum': 309,
 'Shared Office Spaces': 310,
 'Party Bike Rentals': 311,
 'Mediators': 312,
 'Smokehouse': 313,
 'Live/Raw Food': 314,
 'Car Dealers': 315,
 'New Mexican Cuisine': 316,
 'Food': 317,
 'Mortgage Brokers': 318,
 'Hand Rolls': 319,
 'Performing Arts': 320,
 'Venues & Event Spaces': 321,
 'Lighting Fixtures & Equipment': 322,
 'Web Design': 323,
 'Kosher': 324,
 'Cafes': 325,
 'Go Karts': 326,
 'Brewpubs': 327,
 'Public Relations': 328,
 'Restaurants': 329,
 'Sports Clubs': 330,
 'Piadina': 331,
 'Junk Removal & Hauling': 332,
 'Argentine': 333,
 'Hobby Shops': 334,
 'Endodontists': 335,
 'Fish & Chips': 336,
 'Scandinavian': 337,
 'Herbs & Spices': 338,
 'Antiques': 339,
 'Appliances': 340,
 'Churros': 341,
 'Belgian': 342,
 'Water Stores': 343,
 'Art Museums': 344,
 'Cafeteria': 345,
 'International Grocery': 346,
 'Halal': 347,
 'Accessories': 348,
 'Music & Video': 349,
 'Financial Services': 350,
 'Test Preparation': 351,
 'Fashion': 352,
 'Water Heater Installation/Repair': 353,
 'Kiteboarding': 354,
 'Fast Food': 355,
 'Lighting Stores': 356,
 'Comic Books': 357,
 'Wine & Spirits': 358,
 'Fischbroetchen': 359,
 'Amusement Parks': 360,
 'Breweries': 361,
 'Education': 362,
 'Beer Gardens': 363,
 'Pilates': 364,
 'Public Services & Government': 365,
 'Art Schools': 366,
 'Fondue': 367,
 'Conveyor Belt Sushi': 368,
 'Paint & Sip': 369,
 'Indian': 370,
 'Insurance': 371,
 'Food Tours': 372,
 'Beauty & Spas': 373,
 'Gastropubs': 374,
 'Department Stores': 375,
 'Party Bus Rentals': 376,
 'Cocktail Bars': 377,
 'Thai': 378,
 'Organic Stores': 379,
 'Counseling & Mental Health': 380,
 'Iberian': 381,
 'Tapas Bars': 382,
 'Martial Arts': 383,
 'Building Supplies': 384,
 'Cheese Tasting Classes': 385,
 'Bridal': 386,
 'Adult Education': 387,
 'Wine Tasting Classes': 388,
 'Cajun/Creole': 389,
 'Embroidery & Crochet': 390,
 'Seafood Markets': 391,
 'Life Coach': 392,
 'Cabaret': 393,
 'Poutineries': 394,
 'Cooking Schools': 395,
 'Outdoor Gear': 396,
 'Active Life': 397,
 'Golf': 398,
 'Taiwanese': 399,
 'Salvadoran': 400,
 'Japanese Curry': 401,
 'Day Spas': 402,
 'Vacation Rentals': 403,
 'Napoletana': 404,
 'Italian': 405,
 'Pet Stores': 406,
 'South African': 407,
 'Jails & Prisons': 408,
 'Caterers': 409,
 'Tacos': 410,
 'Kitchen Incubators': 411,
 'Nail Salons': 412,
 'Popcorn Shops': 413,
 'Fitness & Instruction': 414,
 'Jazz & Blues': 415,
 'Donairs': 416,
 'Cideries': 417,
 'Home Organization': 418,
 'Party & Event Planning': 419,
 'Social Clubs': 420,
 'Tuscan': 421,
 'Mailbox Centers': 422,
 'Noodles': 423,
 'Musicians': 424,
 'African': 425,
 'Kitchen & Bath': 426,
 'Burmese': 427,
 'Lawyers': 428,
 'Delis': 429,
 'Limos': 430,
 'Elementary Schools': 431,
 'Beer Garden': 432,
 'Pet Services': 433,
 'Henna Artists': 434,
 'Burgers': 435,
 'Pop-up Shops': 436,
 'Grout Services': 437,
 'Specialty Schools': 438,
 'Drive-Thru Bars': 439,
 'Desserts': 440,
 'Egyptian': 441,
 'Uniforms': 442,
 'Szechuan': 443,
 'Guamanian': 444,
 'Carpet Cleaning': 445,
 'Do-It-Yourself Food': 446,
 'Beer Bar': 447,
 'Pressure Washers': 448,
 'Badminton': 449,
 'Arts & Crafts': 450,
 'Mexican': 451,
 'Petting Zoos': 452,
 'Internet Cafes': 453,
 'Eyewear & Opticians': 454,
 'Yelp Events': 455,
 'Real Estate Services': 456,
 'Laser Tag': 457,
 'Boating': 458,
 'Religious Organizations': 459,
 'Walking Tours': 460,
 'Watches': 461,
 'Meaderies': 462,
 'Transportation': 463,
 'Ayurveda': 464,
 'Meditation Centers': 465,
 'Spiritual Shop': 466,
 'Dance Restaurants': 467,
 'Paddleboarding': 468,
 'Ethical Grocery': 469,
 'Books': 470,
 'Massage': 471,
 'Aquariums': 472,
 'Tiki Bars': 473,
 'Stadiums & Arenas': 474,
 'Cards & Stationery': 475,
 'Body Shops': 476,
 'Bike Rentals': 477,
 'Ranches': 478,
 'Pubs': 479,
 'Guest Houses': 480,
 'Paint-Your-Own Pottery': 481,
 'Educational Services': 482,
 'Roofing': 483,
 'Departments of Motor Vehicles': 484,
 'Train Stations': 485,
 'Electronics': 486,
 'Community Service/Non-Profit': 487,
 'Museums': 488,
 'Apartments': 489,
 'Couriers & Delivery Services': 490,
 'Oaxacan': 491,
 'Shaved Ice': 492,
 'Hotel bar': 493,
 'Arcades': 494,
 'Zoos': 495,
 'Korean': 496,
 'Musical Instruments & Teachers': 497,
 'Airport Lounges': 498,
 "Men's Clothing": 499,
 'Towing': 500,
 'Dog Parks': 501,
 'Pet Hospice': 502,
 'Catalan': 503,
 'Race Tracks': 504,
 'Botanical Gardens': 505,
 'Hair Salons': 506,
 'Party Equipment Rentals': 507,
 'Custom Cakes': 508,
 'Hair Extensions': 509,
 'Dominican': 510,
 'Mauritius': 511,
 'Latin American': 512,
 'Tableware': 513,
 'Sicilian': 514,
 'Dumpster Rental': 515,
 'Fruits & Veggies': 516,
 'Orthopedists': 517,
 'Beer Tours': 518,
 'Chocolatiers & Shops': 519,
 'Event Planning & Services': 520,
 'Brasseries': 521,
 'Trampoline Parks': 522,
 'Wineries': 523,
 'Pop-Up Restaurants': 524,
 'Glass & Mirrors': 525,
 'Food Safety Training': 526,
 'Floral Designers': 527,
 'Diners': 528,
 'Bars': 529,
 'Lebanese': 530,
 'Laser Hair Removal': 531,
 'Wholesalers': 532,
 'Personal Shopping': 533,
 'Horse Racing': 534,
 'Head Shops': 535,
 'Hardware Stores': 536,
 'Motorcycle Repair': 537,
 'Art Galleries': 538,
 'Tobacco Shops': 539,
 'Irish Pub': 540,
 'Tires': 541,
 'Polish': 542,
 'Rotisserie Chicken': 543,
 'Coffee & Tea Supplies': 544,
 'Bulgarian': 545,
 'Tai Chi': 546,
 'Vermouth Bars': 547,
 'Flea Markets': 548,
 'Computers': 549,
 'Yakiniku': 550,
 'Singaporean': 551,
 'Sardinian': 552,
 'Military Surplus': 553,
 'Child Care & Day Care': 554,
 'Shopping': 555,
 'Casinos': 556,
 'Chinese Martial Arts': 557,
 'Coffeeshops': 558,
 'Coffee & Tea': 559,
 'Graphic Design': 560,
 'Portuguese': 561,
 'Beverage Store': 562,
 'Tea Rooms': 563,
 'Striptease Dancers': 564,
 'Local Services': 565,
 'Community Centers': 566,
 'Home Decor': 567,
 'Public Transportation': 568,
 'Herbal Shops': 569,
 "Children's Clothing": 570,
 'Fences & Gates': 571,
 'Anesthesiologists': 572,
 'Observatories': 573,
 'Dumplings': 574,
 'Shipping Centers': 575,
 'Waxing': 576,
 'Southern': 577,
 'Architects': 578,
 'Day Camps': 579,
 'Surfing': 580,
 'Mobile Phones': 581,
 'Bikes': 582,
 'Champagne Bars': 583,
 'Home Services': 584,
 'Appraisal Services': 585,
 'Hostels': 586,
 'Toy Stores': 587,
 'Reiki': 588,
 'Gold Buyers': 589,
 'Ramen': 590,
 'Motorcycle Gear': 591,
 'Eritrean': 592,
 'Professional Sports Teams': 593,
 'Landmarks & Historical Buildings': 594,
 'Uzbek': 595,
 'Trivia Hosts': 596,
 'Advertising': 597,
 'Airport Shuttles': 598,
 'Buddhist Temples': 599,
 'Print Media': 600,
 'Czech/Slovakian': 601,
 'Ticket Sales': 602,
 'Cambodian': 603,
 'Wine Tasting Room': 604,
 'Mobile Phone Repair': 605,
 'Health Markets': 606,
 'Reflexology': 607,
 'Hong Kong Style Cafe': 608,
 'Honey': 609,
 'Syrian': 610,
 'Contractors': 611,
 'Campgrounds': 612,
 'Trinidadian': 613,
 'Flowers & Gifts': 614,
 'Brewing Supplies': 615,
 'Spray Tanning': 616,
 'Canteen': 617,
 'Chicken Wings': 618,
 'Resorts': 619,
 'Accountants': 620,
 'Art Supplies': 621,
 'Vegetarian': 622,
 'Izakaya': 623,
 'Travel Services': 624,
 'Pool & Billiards': 625,
 'Kitchen Supplies': 626,
 'Bike Parking': 627,
 'Bowling': 628,
 'Oral Surgeons': 629,
 'Leisure Centers': 630,
 'Supper Clubs': 631,
 'Squash': 632,
 'Telecommunications': 633,
 'Baby Gear & Furniture': 634,
 'Kids Activities': 635,
 'Plus Size Fashion': 636,
 'Sports Wear': 637,
 'Pawn Shops': 638,
 'Auto Parts & Supplies': 639,
 'Hotels': 640,
 'Kebab': 641,
 'Costumes': 642,
 'Tanning': 643,
 'Indonesian': 644,
 'Disc Golf': 645,
 'Cosmetic Dentists': 646,
 'Hot Dogs': 647,
 'Scooter Tours': 648,
 'Vietnamese': 649,
 'Hungarian': 650,
 'Axe Throwing': 651,
 'Banks & Credit Unions': 652,
 'Cannabis Clinics': 653,
 'Cabinetry': 654,
 'Pita': 655,
 'Periodontists': 656,
 'Laundry Services': 657,
 'Czech': 658,
 'Notaries': 659,
 'Hot Pot': 660,
 'Auto Upholstery': 661,
 'Handyman': 662,
 'Asian Fusion': 663,
 'Mags': 664,
 'Firewood': 665,
 'Damage Restoration': 666,
 'Hats': 667,
 'Recreation Centers': 668,
 'Criminal Defense Law': 669,
 'Traditional Chinese Medicine': 670,
 'Pet Boarding': 671,
 'Sports Bars': 672,
 'Vintage & Consignment': 673,
 'Sandwiches': 674,
 'Soccer': 675,
 'Parking': 676,
 'Baseball Fields': 677,
 'DJs': 678,
 'Kiosk': 679,
 'Kombucha': 680,
 'General Dentistry': 681,
 'Turkish': 682,
 'Team Building Activities': 683,
 'Talent Agencies': 684,
 'Screen Printing/T-Shirt Printing': 685,
 'Used Bookstore': 686,
 'Christmas Trees': 687,
 'Pueblan': 688,
 'Mosques': 689,
 'Boat Tours': 690,
 'Nicaraguan': 691,
 'Cultural Center': 692,
 'Country Dance Halls': 693,
 'IT Services & Computer Repair': 694,
 'Language Schools': 695,
 'Grill Services': 696,
 'Amateur Sports Teams': 697,
 'Sewing & Alterations': 698,
 'Escape Games': 699,
 'Travel Agents': 700,
 'Tortillas': 701,
 'Dog Walkers': 702,
 'Investing': 703,
 'Tiling': 704,
 'Motorcycle Rental': 705,
 'Haitian': 706,
 'Retirement Homes': 707,
 'Gift Shops': 708,
 'Customized Merchandise': 709,
 'Permanent Makeup': 710,
 'Nurseries & Gardening': 711,
 'Car Wash': 712,
 'International': 713,
 'Hunting & Fishing Supplies': 714,
 'Windows Installation': 715,
 'Windshield Installation & Repair': 716,
 'Appliances & Repair': 717,
 'Photography Stores & Services': 718,
 'Discount Store': 719,
 'Naturopathic/Holistic': 720,
 'Jewish': 721,
 "Men's Hair Salons": 722,
 'Post Offices': 723,
 'Eyebrow Services': 724,
 'Yoga': 725,
 'Skating Rinks': 726,
 'Hair Loss Centers': 727,
 'Eyelash Service': 728}

In [32]:
res['categorie_id'] = res['categorie_id'].apply(lambda x: categories_dict[x])

In [33]:
res

                   business_id  categorie_id
0       6iYb2HFDywm3zjuRg0shjw           374
1       6iYb2HFDywm3zjuRg0shjw           317
2       6iYb2HFDywm3zjuRg0shjw           363
3       6iYb2HFDywm3zjuRg0shjw           329
4       6iYb2HFDywm3zjuRg0shjw           529
...                        ...           ...
237678  ngmLL5Y5OT-bYHKU0kKrYA           329
237679  ngmLL5Y5OT-bYHKU0kKrYA            68
237680  ngmLL5Y5OT-bYHKU0kKrYA            15
237681  ngmLL5Y5OT-bYHKU0kKrYA            11
237682  ngmLL5Y5OT-bYHKU0kKrYA           274

[237683 rows x 2 columns]

In [111]:
res = res.drop_duplicates()

In [112]:
res.to_sql('has_categorie', engine, if_exists='append', index = False)