In [3]:
#load relevant packages

from math import cos, asin, sqrt, pi
import pandas as pd
import numpy as np
import json
#from tqdm import tqdm
#tqdm.pandas()
import sqlalchemy
import psycopg2

In [2]:
conn = psycopg2.connect(database="db_sync", user="patrick", password="patrick")
#print(conn.closed)
#print(conn.get_dsn_parameters(), "\n")

In [2]:
checkin_json_path = '../yelp/yelp_academic_dataset_checkin.json'

In [3]:
size = 1000000
checkin = pd.read_json(checkin_json_path, lines=True, chunksize=size)

In [4]:
df_checkin = pd.concat(checkin)

ValueError: Expected object or value

In [6]:
df_checkin.head()

              business_id                                               date
0  --0r8K_AQ4FZfLsX3ZYRDA                                2017-09-03 17:13:59
1  --0zrn43LEaB4jUWTQH_Bg  2010-10-08 22:21:20, 2010-11-01 21:29:14, 2010...
2  --164t1nclzzmca7eDiJMw  2010-02-26 02:06:53, 2010-02-27 08:00:09, 2010...
3  --2aF9NhXnNVpDV0KS3xBQ  2014-11-03 16:35:35, 2015-01-30 18:16:03, 2015...
4  --2mEJ63SC_8_08_jGgVIg  2010-12-15 17:10:46, 2013-12-28 00:27:54, 2015...

In [13]:
df_checkin['date'] = df_checkin.date.str.count(',')+1

In [23]:
'''explode_df = df_checkin.assign(date = df_checkin.date.str.split(',')).explode('date')
explode_df.head()
explode_df.shape'''

"explode_df = df_checkin.assign(date = df_checkin.date.str.split(',')).explode('date')\nexplode_df.head()\nexplode_df.shape"

In [14]:
# only count of check in possible 
df_checkin.head()

              business_id  date
0  --0r8K_AQ4FZfLsX3ZYRDA     1
1  --0zrn43LEaB4jUWTQH_Bg     9
2  --164t1nclzzmca7eDiJMw   311
3  --2aF9NhXnNVpDV0KS3xBQ     8
4  --2mEJ63SC_8_08_jGgVIg     4

In [16]:
#create engine
engine = sqlalchemy.create_engine('postgresql://kevin:12345678@127.0.0.1:5432/db_sync')

In [17]:
#load df in db
df_checkin.to_sql('checkin', engine, if_exists='append', index = False)

In [18]:
#function to print tables from db 
def print_table(tname: str):
    with conn:
        with conn.cursor() as cur:
            cur.execute('select * from {} limit 10;'.format(tname))
            print(cur.fetchall())

In [19]:
print_table("checkin")

[('--0r8K_AQ4FZfLsX3ZYRDA', 1), ('--0zrn43LEaB4jUWTQH_Bg', 9), ('--164t1nclzzmca7eDiJMw', 311), ('--2aF9NhXnNVpDV0KS3xBQ', 8), ('--2mEJ63SC_8_08_jGgVIg', 4), ('--6COJIAjkQwSUZci_4PJQ', 180), ('--DzGwfuJH12DjYz95VW0Q', 2), ('--EoF6KmeDuki2vBWhPqCw', 2), ('--JKSSgnfoOjVDFGv692BA', 4), ('--JuLhLvq3gyjNnXT9Q95w', 1)]

In [4]:
# checkin json einlesen
data_file = open("/home/sync/yelp/yelp_academic_dataset_checkin.json")
data = []
for line in data_file:
    data.append(json.loads(line))
checkin_df = pd.DataFrame(data)
data_file.close()

In [5]:
# Business json einlesen
data_file = open("/home/sync/yelp/yelp_academic_dataset_business.json")
data = []
for line in data_file:
    data.append(json.loads(line))
restaurant_df = pd.DataFrame(data)
data_file.close()

#drop restaurants with false geo data
restaurant_df.drop(restaurant_df[restaurant_df.longitude > 0].index,inplace = True)
#edit df
restaurant_df.drop(columns =['hours', 'attributes'], inplace =True)

#filter for only open restaurants
#restaurant_df = restaurant_df[restaurant_df['is_open']==1]

#filter for only restaurants
restaurant_df = restaurant_df[restaurant_df.categories.str.contains("Restaurant")==True]
#drop restaurant which is the only one in state 'ABE'
restaurant_df.drop(restaurant_df[restaurant_df['business_id'] == 'WaD_wuvvDFPTrz8ouDPtAw' ].index, inplace = True)

In [6]:

checkin_df['date'] = checkin_df['date'].str.split(pat = ",")
checkin_df = checkin_df[checkin_df['business_id'].isin(restaurant_df['business_id'].to_list())]

#checkin_df_tidy = pd.DataFrame(checkin_df.date)

In [7]:
checkin_df = checkin_df.explode('date')

In [8]:
checkin_df

                   business_id                  date
2       --164t1nclzzmca7eDiJMw   2010-02-26 02:06:53
2       --164t1nclzzmca7eDiJMw   2010-02-27 08:00:09
2       --164t1nclzzmca7eDiJMw   2010-03-04 02:00:59
2       --164t1nclzzmca7eDiJMw   2010-03-11 01:24:46
2       --164t1nclzzmca7eDiJMw   2010-03-17 02:29:17
...                        ...                   ...
138872  zzpmoTVq4yn86U7ArHyFBQ   2021-01-13 20:04:33
138872  zzpmoTVq4yn86U7ArHyFBQ   2021-01-20 01:11:45
138872  zzpmoTVq4yn86U7ArHyFBQ   2021-01-21 20:59:23
138875  zzzKmD9Mj6WtJwJUhA_1dg   2010-12-25 22:17:04
138875  zzzKmD9Mj6WtJwJUhA_1dg   2011-05-14 03:25:18

[11355254 rows x 2 columns]

In [9]:
engine = sqlalchemy.create_engine('postgresql://kevin:12345678@127.0.0.1:5432/db_sync')

In [10]:
#load df in db
checkin_df.to_sql('check_in', engine, if_exists='append', index = False)