In [1]:
#import of the relevant packages

import psycopg2
import pandas as pd
import json
import sqlalchemy

In [2]:
conn = psycopg2.connect(database="", user="", password="")
#print(conn.closed)
#print(conn.get_dsn_parameters(), "\n")

In [3]:
#%%bash
#ls

In [4]:
user_json_path = '../yelp/yelp_academic_dataset_user.json'

In [5]:
#load json in chunks because of ther size 
size = 1000000
df_user = pd.read_json(user_json_path, lines=True, chunksize=size)

In [8]:
# concat the chunks 
df_u = pd.concat(df_user)

In [9]:
df_u.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,gzio7iF5Bn8m4pSEl5yptg,Kristine,10,2012-04-13 20:51:54,16,2,1,,"-NRmcxlmLBRZEy2OlqGm0Q, o3PGs0t2a8ORb0gUXFr0bQ...",0,...,0,0,0,0,1,0,0,0,0,0
1,Vd_GPeYZ7xbSbD6ratg9WQ,B.,6,2009-01-13 01:19:52,8,0,2,,"HU4BWjUt51oWMETZkUVa1A, uCtc-7SQF8aYor--FQA7Vw...",0,...,0,0,0,0,0,1,1,1,0,0
2,eHM0KaU3-OC92mRwz8jn_A,Linden,11,2012-06-28 23:07:41,5,0,0,,"YaIRArr_itWKqs710kSGiA, e4Jz_9yX7XRmAvxmDdMNFw...",1,...,0,0,0,0,0,0,0,0,0,0
3,efzuhFJtge-3F-M0AFSQ0w,Kay,34,2010-12-17 21:16:50,30,10,1,,"WX9mbkTUjUnSbRuUKZ2gag, rCaikJjRNJPjYCSiuBdGEw...",1,...,0,0,0,0,1,0,0,0,0,0
4,2MqZqX9rFMxsBppcyeHZkw,Emily,1,2018-02-14 07:20:37,1,2,1,,"YnG4GIJfTt6T8FspBv_RDA, Oc1TunSAppzLBtj1jYUeBw...",0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_u.shape

(189457, 22)

In [10]:
# show the first 10 columns
df_u.iloc[:, : 10].head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans
0,gzio7iF5Bn8m4pSEl5yptg,Kristine,10,2012-04-13 20:51:54,16,2,1,,"-NRmcxlmLBRZEy2OlqGm0Q, o3PGs0t2a8ORb0gUXFr0bQ...",0
1,Vd_GPeYZ7xbSbD6ratg9WQ,B.,6,2009-01-13 01:19:52,8,0,2,,"HU4BWjUt51oWMETZkUVa1A, uCtc-7SQF8aYor--FQA7Vw...",0
2,eHM0KaU3-OC92mRwz8jn_A,Linden,11,2012-06-28 23:07:41,5,0,0,,"YaIRArr_itWKqs710kSGiA, e4Jz_9yX7XRmAvxmDdMNFw...",1
3,efzuhFJtge-3F-M0AFSQ0w,Kay,34,2010-12-17 21:16:50,30,10,1,,"WX9mbkTUjUnSbRuUKZ2gag, rCaikJjRNJPjYCSiuBdGEw...",1
4,2MqZqX9rFMxsBppcyeHZkw,Emily,1,2018-02-14 07:20:37,1,2,1,,"YnG4GIJfTt6T8FspBv_RDA, Oc1TunSAppzLBtj1jYUeBw...",0

In [10]:
# create df with only necessary columns
df_u = df_u[['user_id','name','review_count','yelping_since','useful','funny','elite','friends','fans','average_stars']] #

In [11]:
df_u.shape

(189457, 10)

In [12]:
df_u.head()

,user_id,name,review_count,yelping_since,useful,funny,elite,friends,fans,average_stars
0,gzio7iF5Bn8m4pSEl5yptg,Kristine,10,2012-04-13 20:51:54,16,2,,"-NRmcxlmLBRZEy2OlqGm0Q, o3PGs0t2a8ORb0gUXFr0bQ...",0,2.91
1,Vd_GPeYZ7xbSbD6ratg9WQ,B.,6,2009-01-13 01:19:52,8,0,,"HU4BWjUt51oWMETZkUVa1A, uCtc-7SQF8aYor--FQA7Vw...",0,4.83
2,eHM0KaU3-OC92mRwz8jn_A,Linden,11,2012-06-28 23:07:41,5,0,,"YaIRArr_itWKqs710kSGiA, e4Jz_9yX7XRmAvxmDdMNFw...",1,4.91
3,efzuhFJtge-3F-M0AFSQ0w,Kay,34,2010-12-17 21:16:50,30,10,,"WX9mbkTUjUnSbRuUKZ2gag, rCaikJjRNJPjYCSiuBdGEw...",1,3.06
4,2MqZqX9rFMxsBppcyeHZkw,Emily,1,2018-02-14 07:20:37,1,2,,"YnG4GIJfTt6T8FspBv_RDA, Oc1TunSAppzLBtj1jYUeBw...",0,1.00

In [13]:
# drop column which is not in db 
df_u.drop(columns = ["elite"],inplace =True)

In [ ]:
#del df_u

In [33]:
# create df with the 2 necessary columns
df_friends = df_u[['user_id', 'friends']]

In [34]:
# create df with only necessary columns
df_user = df_u[['user_id','name','review_count','yelping_since','useful','funny','fans','average_stars']]

In [35]:
# slice the yelping since column to extract only the year
df_user['yelping_since'] = df_user['yelping_since'].str.split('-').str[0]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
df_user.head()

,user_id,name,review_count,yelping_since,useful,funny,fans,average_stars
0,gzio7iF5Bn8m4pSEl5yptg,Kristine,10,2012,16,2,0,2.91
1,Vd_GPeYZ7xbSbD6ratg9WQ,B.,6,2009,8,0,0,4.83
2,eHM0KaU3-OC92mRwz8jn_A,Linden,11,2012,5,0,1,4.91
3,efzuhFJtge-3F-M0AFSQ0w,Kay,34,2010,30,10,1,3.06
4,2MqZqX9rFMxsBppcyeHZkw,Emily,1,2018,1,2,0,1.00

In [37]:
df_friends.head(10)

                  user_id                                            friends
0  gzio7iF5Bn8m4pSEl5yptg  -NRmcxlmLBRZEy2OlqGm0Q, o3PGs0t2a8ORb0gUXFr0bQ...
1  Vd_GPeYZ7xbSbD6ratg9WQ  HU4BWjUt51oWMETZkUVa1A, uCtc-7SQF8aYor--FQA7Vw...
2  eHM0KaU3-OC92mRwz8jn_A  YaIRArr_itWKqs710kSGiA, e4Jz_9yX7XRmAvxmDdMNFw...
3  efzuhFJtge-3F-M0AFSQ0w  WX9mbkTUjUnSbRuUKZ2gag, rCaikJjRNJPjYCSiuBdGEw...
4  2MqZqX9rFMxsBppcyeHZkw  YnG4GIJfTt6T8FspBv_RDA, Oc1TunSAppzLBtj1jYUeBw...
5  9PwxSv5Qx7zYLLLUTypM1A     PN9WwuYF5ekLVLcJfl1Bvg, fu62iPPCUOD2a6_tDOx-lw
6  6hoIju7-wNWc4dbS3ZI-lA  hu2JYXLtZgqMKZaO-4FPOw, O3h5nwiR9LC9LOgjS9owvA...
7  QQjdKXxq-1sfJGXVk_6mTg  oEC8Ld6HTTtnB6nBjcmOSw, SXPxji4zumdR2wNX6ujboQ...
8  h-idA7l2OJFK-p3lGHGMdw     pMV_3RoLug1IIGc2kXUhKA, hlzZZyqYAwdcqGLKuHrbsg
9  jDI6UGTDsReXqEs1DTQGLQ  nitYUG8mTkacajbJVOhXXg, dZ1YgOLz1GCs6kh_jwEdnQ...

In [38]:
# split friends column at delimiter , and explode it in different rows
df_friends = df_friends.assign(friends=df_friends['friends'].str.split(',')).explode('friends')

In [39]:
# rename column name to match the name in db
df_friends = df_friends.rename(columns={'friends': 'use_user_id'})

In [42]:
df_friends.head(5)

                  user_id              use_user_id
0  gzio7iF5Bn8m4pSEl5yptg   -NRmcxlmLBRZEy2OlqGm0Q
0  gzio7iF5Bn8m4pSEl5yptg   o3PGs0t2a8ORb0gUXFr0bQ
0  gzio7iF5Bn8m4pSEl5yptg   Sii9r83_Pp6Nk-LUAADmGA
0  gzio7iF5Bn8m4pSEl5yptg   yrSbNu7sbRo6ZNAPruyJqA
0  gzio7iF5Bn8m4pSEl5yptg   31NrkGUx5OK2dXLkuqWkng

In [50]:
df_friends.shape

(5286991, 2)

In [54]:
len(df_friends['use_user_id'].unique())

3837862

In [45]:
len(df_friends['user_id'].unique())

189457

In [58]:
df_u['user_id'].isin(df_friends['use_user_id']).value_counts()

False    188983
True        474
Name: user_id, dtype: int64

In [60]:
df_friends['use_user_id'].isin(df_u['user_id']).value_counts()

False    5286511
True         480
Name: use_user_id, dtype: int64

In [61]:
#list = df_friends['use_user_id'].values.tolist()

In [65]:
df_friends.dtypes

user_id        object
use_user_id    object
dtype: object

In [67]:
df_friends2['count'] = df_friends.groupby('use_user_id')['use_user_id'].transform('count')

TypeError: list indices must be integers or slices, not str

In [ ]:
df_friends2.head()

In [25]:
#create engine to db
engine = sqlalchemy.create_engine('postgresql://kevin:12345678@127.0.0.1:5432/db_sync')

In [27]:
#load user df in db
#df_user.to_sql('users', engine, if_exists='append', index = False)

In [27]:
#function to print tables from db 
def print_table(tname: str):
    with conn:
        with conn.cursor() as cur:
            cur.execute('select * from {} limit 10;'.format(tname))
            print(cur.fetchall())

In [41]:
print_table("users")

[('gzio7iF5Bn8m4pSEl5yptg', 'Kristine                                          ', 10, 2012, 2.91, 16, 0, 2, None), ('Vd_GPeYZ7xbSbD6ratg9WQ', 'B.                                                ', 6, 2009, 4.83, 8, 0, 0, None), ('eHM0KaU3-OC92mRwz8jn_A', 'Linden                                            ', 11, 2012, 4.91, 5, 1, 0, None), ('efzuhFJtge-3F-M0AFSQ0w', 'Kay                                               ', 34, 2010, 3.06, 30, 1, 10, None), ('2MqZqX9rFMxsBppcyeHZkw', 'Emily                                             ', 1, 2018, 1.0, 1, 0, 2, None), ('9PwxSv5Qx7zYLLLUTypM1A', 'Pratibha                                          ', 11, 2011, 2.42, 2, 0, 3, None), ('6hoIju7-wNWc4dbS3ZI-lA', 'Kyle                                              ', 61, 2012, 4.92, 51, 2, 5, None), ('QQjdKXxq-1sfJGXVk_6mTg', 'Valentina                                         ', 4, 2018, 4.5, 0, 0, 0, None), ('h-idA7l2OJFK-p3lGHGMdw', 'George                                            ', 6, 2011, 5.0, 4, 0, 0, None), ('jDI6UGTDsReXqEs1DTQGLQ', 'Kevin                                             ', 29, 2012, 2.76, 37, 0, 7, None)]

In [29]:
with conn:
    with conn.cursor() as cur:
        cur.execute('select * from "user" limit 10;')
        print(cur.fetchall())

In [30]:
#load friends df in db 
df_friends.to_sql('is_friend', engine, if_exists='append', index = False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "is_friend" violates foreign key constraint "fk_is_frien_is_friend_users"
DETAIL:  Key (use_user_id)=(-NRmcxlmLBRZEy2OlqGm0Q) is not present in table "users".

[SQL: INSERT INTO is_friend (user_id, use_user_id) VALUES (%(user_id)s, %(use_user_id)s)]
[parameters: ({'user_id': 'gzio7iF5Bn8m4pSEl5yptg', 'use_user_id': '-NRmcxlmLBRZEy2OlqGm0Q'}, {'user_id': 'gzio7iF5Bn8m4pSEl5yptg', 'use_user_id': ' o3PGs0t2a8ORb0gUXFr0bQ'}, {'user_id': 'gzio7iF5Bn8m4pSEl5yptg', 'use_user_id': ' Sii9r83_Pp6Nk-LUAADmGA'}, {'user_id': 'gzio7iF5Bn8m4pSEl5yptg', 'use_user_id': ' yrSbNu7sbRo6ZNAPruyJqA'}, {'user_id': 'gzio7iF5Bn8m4pSEl5yptg', 'use_user_id': ' 31NrkGUx5OK2dXLkuqWkng'}, {'user_id': 'Vd_GPeYZ7xbSbD6ratg9WQ', 'use_user_id': 'HU4BWjUt51oWMETZkUVa1A'}, {'user_id': 'Vd_GPeYZ7xbSbD6ratg9WQ', 'use_user_id': ' uCtc-7SQF8aYor--FQA7Vw'}, {'user_id': 'Vd_GPeYZ7xbSbD6ratg9WQ', 'use_user_id': ' UmSmVzfOM4AkOioTM_o1TA'}  ... displaying 10 of 5286991 total bound parameter sets ...  {'user_id': 'ka06dBaC9tvKhc7DJ9_7wQ', 'use_user_id': 'None'}, {'user_id': 'QfkFTrJ_MdM3Onk6przUJw', 'use_user_id': 'None'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)