In [1]:
#load relevant packages

from math import cos, asin, sqrt, pi
import pandas as pd
import numpy as np
import json
#from tqdm import tqdm
#tqdm.pandas()
import sqlalchemy
import psycopg2

In [30]:
#create engine to access db
#engine = sqlalchemy.create_engine('postgresql://kevin:12345678@127.0.0.1:5432/kevin')

In [2]:
"""
Calculate the great circle distance between two points
on the earth (specified in decimal degrees)
All args must be of equal length.
"""
def haversine_np(lon1, lat1, lon2, lat2):
  
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [3]:
# Business json einlesen
data_file = open("/home/sync/yelp/yelp_academic_dataset_business.json")
data = []
for line in data_file:
    data.append(json.loads(line))
restaurant_df = pd.DataFrame(data)
data_file.close()

In [18]:
restaurant_df.describe()

           latitude     longitude         stars  review_count  is_open
count  32048.000000  32048.000000  32048.000000  32048.000000  32048.0
mean      39.013599    -94.115098      3.550144    130.050206      1.0
std        7.318788     20.148798      0.805342    237.913745      0.0
min       28.062985   -123.349961      1.000000      5.000000      1.0
25%       30.374831   -122.620539      3.000000     20.000000      1.0
50%       40.248712    -84.333480      3.500000     55.000000      1.0
75%       45.496186    -81.330991      4.000000    146.000000      1.0
max       49.459624    -70.801143      5.000000   9185.000000      1.0

In [4]:
explode_df = restaurant_df.assign(categories = restaurant_df.categories.str.split(',')).explode('categories')
explode_df.categories.value_counts()[:10]

 Restaurants         36340
 Food                22094
 Shopping            20056
Restaurants          14423
 Home Services       12001
 Beauty & Spas       11633
 Health & Medical    11390
 Nightlife            9808
 Local Services       9299
 Bars                 8914
Name: categories, dtype: int64

In [22]:
restaurant_df['categories'].head()

0    Gastropubs, Food, Beer Gardens, Restaurants, B...
1    Salad, Soup, Sandwiches, Delis, Restaurants, C...
2    Antiques, Fashion, Used, Vintage & Consignment...
3                           Beauty & Spas, Hair Salons
4    Gyms, Active Life, Interval Training Gyms, Fit...
Name: categories, dtype: object

In [19]:
restaurant_df.shape

(160585, 14)

In [6]:
#filter for only open restaurants
restaurant_df = restaurant_df[restaurant_df['is_open']==1]
#filter for only restaurants
restaurant_df = restaurant_df[restaurant_df.categories.str.contains("Restaurant")==True]
restaurant_df.shape

(32049, 14)

In [26]:
restaurant_df['categories'].head()

0     Gastropubs, Food, Beer Gardens, Restaurants, B...
1     Salad, Soup, Sandwiches, Delis, Restaurants, C...
5                                     Restaurants, Thai
7                       Breakfast & Brunch, Restaurants
12                             Food, Pizza, Restaurants
Name: categories, dtype: object

In [16]:
#edit df
restaurant_df.drop(columns =['hours', 'attributes'], inplace =True)

#filter for only open restaurants
restaurant_df = restaurant_df[restaurant_df['is_open']==1]

#filter for only restaurants
restaurant_df = restaurant_df[restaurant_df.categories.str.contains("Restaurant")==True]

In [56]:
set(restaurant_df.city)

{'ATLANTA',
 'AUSTIN',
 'Alafaya',
 'Alamonte Springs',
 'Allston',
 'Aloha',
 'Aloma',
 'Altamonte Springs',
 'Andover',
 'Apopka',
 'Arlington',
 'Arvada',
 'Ashville',
 'Atlanta',
 'Auburndale',
 'Austell',
 'Austin',
 'Austin texas',
 'Avon',
 'Avondale Estates',
 'BURNABY',
 'Back Bay',
 'Bay Lake',
 'Bayamon',
 'Beaverton',
 'Bedford',
 'Bee Cave',
 'Bee Caves',
 'Beecave',
 'Belle Isle',
 'Belmont',
 'Berkshire',
 'Berkshire Township',
 'Beverly',
 'Bexley',
 'Billerica',
 'Blacklick',
 'Boring',
 'Boston',
 'Boston-Fenway',
 'Boulder',
 'Bowen Island',
 'Braintree',
 'Brice',
 'Brighton',
 'Brockton',
 'Brookhaven',
 'Brookline',
 'Brookwood',
 'Buckhead',
 'Buda',
 'Buena Ventura Lakes',
 'Burlington',
 'Burnaby',
 'CASSELBERRY',
 'CLERMONT',
 'COCOA',
 'Camas',
 'Cambridge',
 'Canal Winchester',
 'Canton',
 'Carlisle',
 'Carroll',
 'Casselberry',
 'Celebration',
 'Chamblee',
 'Champions Gate',
 'ChampionsGate',
 'Championsgate',
 'Charlestown',
 'Chelsea',
 'Chestnut Hill',
 'Chuluota',
 'Clackamas',
 'Clarkson',
 'Clarkston',
 'Clayton',
 'Clermont',
 'Cocoa',
 'Cohasset',
 'College Park',
 'College Park Ga',
 'Collegepark',
 'Columbus',
 'Columbus ',
 'Commercial Point',
 'Concord',
 'Concourse C',
 'Conley',
 'Coquitlam',
 'Coumbus',
 'DAVENPORT',
 'DEBARY',
 'Damascus',
 'Danvers',
 'Davenport',
 'DeBary',
 'Debary',
 'Decatur',
 'Dedham',
 'Del Valle',
 'Delaware',
 'Delta',
 'Deltona',
 'Doctor Phillips',
 'Doraville',
 'Dorchester',
 'Dorchester Center',
 'Dover',
 'Downtown Vancouver',
 'Driftwood',
 'Dripping Springs',
 'Dublin',
 'Dunwoody',
 'E.Point',
 'East Boston',
 'East Point',
 'East Walpole',
 'East Weymouth',
 'East boston',
 'Eatonville',
 'Edgewood',
 'Ellenwood',
 'Ellsworth',
 'Englewood',
 'Erie',
 'Etna',
 'Everett',
 'Fairview',
 'Fern Park',
 'Fern park',
 'Forest Park',
 'Four Corners',
 'Framingham',
 'Franklin',
 'Fraser Heights',
 'Fulton',
 'Gahanna',
 'Galena',
 'Galloway',
 'Geneva',
 'Gillem Enclave',
 'Gladstone',
 'Gold Hill',
 'Golden',
 'Gotha',
 'Grandview',
 'Grandview Heights',
 'Greater Vancouver A',
 'Gresham',
 'Grove City',
 'Grove Port',
 'Groveport',
 'Gunbarrel',
 'HOLB',
 'Hanscom Air Force Base',
 'Hapeville',
 'Happy Valley',
 'Happy valley',
 'Harmony',
 'Harrisburg',
 'Heathrow',
 'Hiliard',
 'Hilliard',
 'Hillsboro',
 'Hingham',
 'Holbrook',
 'Hollbrook',
 'Hull',
 'Hyde Park',
 'Jackson',
 'Jamaica Plain',
 'Jamestown',
 'Jeffries Point / Airport',
 'Johnstown',
 'KISSIMMEE',
 'Kenansville',
 'King City',
 'Kissimmee',
 'Kyle',
 'LAKE CITY',
 'Ladner',
 'Lafayette',
 'Lago Vista',
 'Lake Buena Visa',
 'Lake Buena Vista',
 'Lake City',
 'Lake Mary',
 'Lake Monroe',
 'Lake Oswego',
 'Lakeway',
 'Leander',
 'Lee Vista',
 'Lewis Center',
 'Lexington',
 'Liberty',
 'Lincoln',
 'Lions Bay',
 'Lithonia',
 'Lithopolis',
 'Lockbourne',
 'Lockhart',
 'London',
 'Longmont',
 'Longwood',
 'Loughman',
 'Louisville',
 'Lynn',
 'Lynnfield',
 'Mableton',
 'Maitland',
 'Malden',
 'Manchaca',
 'Manor',
 'Marble Cliff',
 'Marblehead',
 'Marietta',
 'Marysville',
 'Mattapan',
 'Medfield',
 'Medford',
 'Melrose',
 'Merritt Island',
 'Miami Beach',
 'Middleton',
 'Milton',
 'Milwaukee',
 'Milwaukie',
 'Mims',
 'Minneola',
 'Mission Hill',
 'Montverde',
 'Morrow',
 'Mount Dora',
 'Mount Sterling',
 'N Vancouver',
 'N.Billerica',
 'N.Reading',
 'NEW WESTMINSTER',
 'Nahant',
 'Nantasket Beach',
 'Nashua',
 'Natick',
 'Needham',
 'Needham Heights',
 'New Albany',
 'New Westminister',
 'New Westminster',
 'Newton',
 'Newton Center',
 'Newton Centre',
 'Newton Corner',
 'Newton Highlands',
 'Newton Upper Falls',
 'Newtonville',
 'Newwestminster',
 'Niwot',
 'Norcross',
 'North Andover',
 'North Billerica',
 'North Decatur',
 'North Quincy',
 'North Reading',
 'North Vancouver',
 'North Weymouth',
 'Northeast Orlando',
 'Norwell',
 'Norwood',
 'OR',
 'ORLANDO',
 'OVIEDO',
 'Oak Grove',
 'Oakhill',
 'Obetz',
 'Ocoee',
 'Orange City',
 'Orchards',
 'Oregon City',
 'Orient',
 'Orland',
 'Orlando',
 'Orlanto',
 'Osteen',
 'Oviedo',
 'PORT COQUITLAM',
 'PORTLAND',
 'Pataskala',
 'Peabody',
 'Pflugerville',
 'Pickerington',
 'Pine Castle',
 'Plain City',
 'Poinciana',
 'Point Venture',
 'Polaris',
 'Port Coquitlam',
 'Port Moody',
 'Port Saint John',
 'Port St John',
 'Port St. John',
 'Port coquitlam',
 'Portland',
 'Portland-Eastport Plaza',
 'Powell',
 'Quincy',
 'RICHMOND',
 'Randolph',
 'Reading',
 'Revere',
 'Reynoldsburg',
 'RichMond',
 'Richmond',
 'Riverdale',
 'Rockland',
 'Rockledge',
 'Roslindale',
 'Roxbury',
 'Roxbury Crossing',
 'SANFORD',
 'ST. CLOUD',
 'SURREY',
 'Saint Cloud',
 'Salem',
 'San Marcos',
 'San dy',
 'Sandy Spring',
 'Sandy Springs',
 'Sanford',
 'Saugus',
 'Scottdale',
 'Shawnee Hills',
 'Sheridan',
 'Silverton',
 'Smyrna',
 'So. Weymouth',
 'Somerville',
 'Sommerville',
 'Sorrento',
 'South Bloomfield',
 'South Boston',
 'South Weymouth',
 'Southeast Orlando',
 'Springfield',
 'St Cloud',
 'St John',
 'St Johns',
 'St. Cloud',
 'St.Cloud',
 'Steveston',
 'Stone Mountain',
 'Stoneham',
 'Stoughton',
 'Sudbury',
 'Sunbury',
 'Sunset Valley',
 'Superior',
 'Surrey',
 'Swampscott',
 'TITUSVILLE',
 'Tewksbury',
 'Tigard',
 'Titusville',
 'Tualatin',
 'Tucker',
 'Union Park',
 'Upper Arlington',
 'Urbancrest',
 'Vancouver',
 'Vinings',
 'Volente',
 'Waban',
 'Wakefield',
 'Walpole',
 'Walt Disney World',
 'Waltham',
 'Waterford Lakes',
 'Watertown',
 'Wayland',
 'Wellesley',
 'Wellesley Hills',
 'West Concord',
 'West Jefferson',
 'West Lake Hills',
 'West Linn',
 'West Medford',
 'West Newton',
 'West Roxbury',
 'West Vancouver',
 'Westerville',
 'Weston',
 'Westwood',
 'Weymouth',
 'Whitehall',
 'Wilmington',
 'Winchester',
 'Windermere',
 'Winter Garden',
 'Winter Park',
 'Winter Springs',
 'Winter park',
 'Winterpark',
 'Winthrop',
 'Woburn',
 'Worthington',
 'Zellwood',
 'acworth',
 'beaverton',
 'beaverton Or',
 'boston',
 'columbus',
 'longwood',
 'portland'}

In [55]:
duplicate_loc =restaurant_df[restaurant_df.duplicated(['latitude','longitude'],keep=False)]
duplicate_loc = duplicate_loc.sort_values(["latitude", "longitude"], ascending = (True, True))
duplicate_loc

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories,key
48141,aa0CRUh6tnd0YFrkU3zJzQ,The Hotel Tea Room,301 W Maple St,Davenport,FL,33837,28.155976,-81.605455,4.5,25,1,"Cafes, Shopping, Food, Flowers & Gifts, Coffee...",0
105354,lWthScUXax53h2_BugehXw,The Flower Corner,301 W Maple,Davenport,FL,33837,28.155976,-81.605455,2.0,8,1,"Restaurants, Food, Coffee & Tea, Shopping, Flo...",0
58883,U39XRyycRWOHdUaFzDCgog,Matador Tacos and Tapas Bar,"120 Broadway, Ste 102",Kissimmee,FL,34741,28.292993,-81.406369,4.0,38,1,"Bars, Nightlife, Mexican, Restaurants, Tapas/S...",0
79655,jxZzYI0AYfjBgaJ0Xxp_LQ,Kissimmee Diner,"120 Broadway, Sute 103",Kissimmee,FL,34741,28.292993,-81.406369,3.5,31,1,"Bars, Beer Bar, Restaurants, Diners, Southern,...",0
94981,O_L5OKUF7trJ0gxZVwxlgA,Take Japanese Restaurant,7818 W Irlo Bronsn Mmrl Hwy,Kissimmee,FL,34747,28.303935,-81.368621,3.0,17,1,"Restaurants, Japanese",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156295,cKrGbNpZeQy2jSyAlNROYw,Orange Door,119 E 2nd St,North Vancouver,BC,V7L 3G8,49.312178,-123.077200,3.0,24,1,"Chinese, Restaurants",0
150528,AYUV7IX0ietc5Sfj8v1aSg,Shandiez,879 Marine Drive,North Vancouver,BC,V7P 1R7,49.321052,-123.097793,2.0,5,1,"Restaurants, Persian/Iranian",0
151012,wgNsO7iYV8oQLu__Zyh0Dg,Vomero Coffee House,879 Marine Drive,North Vancouver,BC,V7P 1R7,49.321052,-123.097793,5.0,7,1,"Restaurants, Coffee & Tea, Cafes, Ice Cream & ...",0
109697,G8LUH6bIDko2ON5wQ_zz_w,BC Ferries,6750 Keith Road,West Vancouver,BC,V7W 2V1,49.374054,-123.272347,3.5,63,1,"Fast Food, Transportation, Hotels & Travel, Co...",0
137219,r5OH2IfJ_2_Y9oYbvXTuYQ,The Good Karma Cafe,6750 Keith Road,West Vancouver,BC,V7W 2V1,49.374054,-123.272347,3.0,21,1,"Cafes, Organic Stores, Coffee & Tea, Fast Food...",0

In [25]:
#filter for flawed location data
restaurant_df.drop(restaurant_df[restaurant_df.longitude > 0].index,inplace = True)
#calculate max distance between restaurants
restaurant_df['key'] = 0
rest = restaurant_df.merge(restaurant_df, how='outer', on = 'key').drop(['categories'],axis = 1)
rest
#dist = haversine_np(rest['latitude_x'],rest['longitude_x'],
                                #   rest['latitude_y'],rest['longitude_y'])
#dist.describe()

MemoryError: Unable to allocate 7.65 GiB for an array with shape (1027074304,) and data type int64

In [17]:
restaurant_df.shape

(32048, 12)

In [4]:
# Stations einlesen
stations = pd.read_csv("data/stations.csv", sep=";")
#create df with only necessary columns
stations = stations[['id', 'latitude', 'longitude', 'state']]

In [27]:
#concat df
alldata = restaurant_df.merge(stations, left_on='state', right_on='state').drop(['categories'],axis = 1)

MemoryError: Unable to allocate 4.03 GiB for an array with shape (9, 60034375) and data type object

In [ ]:
#del old df
del stations
del restaurant_df

In [ ]:
#distances = restaurant_df[restaurant_df['state'] == 'BC'].progress_apply(lambda rrow: stations[stations['state'] == rrow['state']].apply(lambda srow: dist(srow['latitude'],srow['longitude'], rrow['latitude'], rrow['longitude']), axis = 1), axis = 1)
#distances = restaurant_df.progress_apply(lambda rrow: stations[stations['state'] == rrow['state']].apply(lambda srow: dist(srow['latitude'],srow['longitude'], rrow['latitude'], rrow['longitude']), axis = 1), axis = 1)
alldata['distance'] = haversine_np(alldata['latitude_x'],alldata['longitude_x'],
                                   alldata['latitude_y'],alldata['longitude_y'])

In [ ]:
#create list with distances
nearest_list = (alldata.sort_values(by = ["business_id","distance"], 
                                    ascending=[True,True]).groupby('business_id', as_index = False, sort = False))

In [10]:
del alldata

In [28]:
# create first, second & third nearest
a = nearest_list.nth(0).drop(['latitude_y', 'longitude_y'],axis = 1)
b = nearest_list.nth(1).drop(['latitude_y', 'longitude_y'],axis = 1)
c = nearest_list.nth(2).drop(['latitude_y', 'longitude_y'],axis = 1)

In [29]:
#rename columns to match column name of db 
a = a.rename(columns={"postal_code": "postal", "latitude_x": "latitude", "longitude_x": "longitude",
                      "distance": "distance_first", "id": "id_first"})
b = b.rename(columns={"postal_code": "postal", "latitude_x": "latitude", "longitude_x": "longitude", 
                      "distance": "distance_second", "id": "id_second" })
c = c.rename(columns={"postal_code": "postal", "latitude_x": "latitude", "longitude_x": "longitude", 
                      "distance": "distance_third", "id": "id_third"})

In [30]:
#merge a & b
merged_df = pd.merge(a, b, on=["business_id", "name", "address", "city", "state", "postal", "latitude", 
                               "longitude", "stars", "review_count", "is_open"])

In [31]:
#merge c
tidy_business = pd.merge(merged_df, c, on=["business_id", "name", "address", "city", "state", "postal", 
                                           "latitude", "longitude", "stars", "review_count", "is_open"])

In [32]:
tidy_business.head()

,business_id,name,address,city,state,postal,latitude,longitude,stars,review_count,is_open,id_first,distance_first,id_second,distance_second,id_third,distance_third
0,--164t1nclzzmca7eDiJMw,Me So Hungry,1104 E 6th St,Austin,TX,78702,30.264896,-97.731028,4.0,137,0,USC00410420,0.373439,US1TXTV0198,0.572124,USC00410431,0.632392
1,--6COJIAjkQwSUZci_4PJQ,Medley,7881 SW Capitol Hwy,Portland,OR,97219,45.467868,-122.714524,4.0,99,0,US1ORMT0024,0.229855,US1ORMT0128,0.701664,US1ORMT0049,0.705749
2,--Q3mAcX9t63f7Xcbn7LVA,The Royce,8791 Lyra Dr,Columbus,OH,43240,40.145557,-82.977284,4.5,107,1,US1OHDL0012,0.979585,US1OHFR0024,2.240159,US1OHDL0017,2.982919
3,--UNNdnHRhsyFUbDgumdtQ,Le Pigeon,738 E Burnside St,Portland,OR,97214,45.522796,-122.657872,4.5,1236,1,USW00024274,1.165859,US1ORMT0132,1.785909,US1ORMT0033,2.274014
4,--_nBudPOb1lNRgKfjLtrw,Mezcal Cantina & Grill,1993 Hard Rd,Columbus,OH,43235,40.117275,-83.068481,4.0,8,0,US1OHFR0016,0.558175,US1OHFR0002,0.657653,US1OHFR0106,0.840526

In [9]:

print(tidy_business.business_id.map(lambda x: len(x)).max())
print(tidy_business.name.map(lambda x: len(x)).max())
print(tidy_business.address.map(lambda x: len(x)).max())
print(tidy_business.city.map(lambda x: len(x)).max())
print(tidy_business.state.map(lambda x: len(x)).max())
print(tidy_business.postal.map(lambda x: len(x)).max())
#tidy_business.latitude.map(lambda x: len(x)).max()
#tidy_business.longitude.map(lambda x: len(x)).max()
#tidy_business.stars.map(lambda x: len(x)).max()
#tidy_business.review_count.map(lambda x: len(x)).max()
#tidy_business.is_open.map(lambda x: len(x)).max()
print(tidy_business.id.map(lambda x: len(x)).max())
#tidy_business.distance_first.map(lambda x: len(x)).max()
print(tidy_business.sta_id.map(lambda x: len(x)).max())
#tidy_business.distance_second.map(lambda x: len(x)).max()
print(tidy_business.sta_id2.map(lambda x: len(x)).max())
#tidy_business.distance_third.map(lambda x: len(x)).max()

22
64
93
25
2
7
11
11
11

In [18]:
#create engine
engine = sqlalchemy.create_engine('postgresql://kevin:12345678@127.0.0.1:5432/db_sync')

In [19]:
# edit df
tidy_business = tidy_business.drop(columns = 'is_open')

In [34]:
#load df in db
tidy_business.to_sql('business', engine, if_exists='append', index = False)

In [8]:
del tidy_business