In [1]:
import pandas as pd
import psycopg2
import plotly.express as px
#fig.write_image("avg_stars_tavg.png")

In [2]:
conn = psycopg2.connect(database="db_sync", user="patrick", password="patrick")
cur = conn.cursor()

In [3]:
def sql(sql: str):
    return pd.read_sql(sql, conn)

In [5]:
df_stars_weather = sql("""
SELECT w.date, AVG(r.stars) avg_stars, AVG(w.prcp)/10 prcp, ((AVG(w.tmin) + AVG(w.tmax))/20) tavg FROM review r
JOIN business b ON r.business_id = b.business_id
JOIN station s ON b.id_first = s.id 
JOIN weather w ON s.id = w.id
WHERE r.date = w.date
AND r.date>= '2011-01-01'
GROUP BY w.date
ORDER BY w.date DESC
""")
df_stars_weather

            date  avg_stars      prcp      tavg
0     2021-01-28   3.778481  2.633766  5.661111
1     2021-01-27   3.858521  5.318421  9.018782
2     2021-01-26   4.077586  4.569163  7.448864
3     2021-01-25   3.916667  2.962248  6.975000
4     2021-01-24   3.711160  1.654267  2.461268
...          ...        ...       ...       ...
3676  2011-01-05   3.744792  1.945304  2.607273
3677  2011-01-04   3.708609  0.034783  0.846154
3678  2011-01-03   3.619883  0.255072  2.119149
3679  2011-01-02   3.612676  3.641549  3.693519
3680  2011-01-01   3.694118  2.016216  3.927027

[3681 rows x 4 columns]

In [ ]:
# plotting the scatter chart
fig = px.scatter(df_stars_weather, x="prcp", y="avg_stars",hover_data=['date'])
fig.update_layout(title= dict(text= "Durchschnitt Sternebewertungen zu Niederschlag pro Tag seit 2011"),
                  yaxis= dict(title= 'Durchschnittliche Sternebewertung',ticklen= 5,zeroline= False),
                  xaxis= dict(title= 'Durchschnittlicher Niederschlag [in mm]',ticklen= 5,zeroline= False))  
# showing the plot
fig.show()

In [ ]:
# plotting the scatter chart
fig = px.scatter(df_stars_weather, x="tavg", y="avg_stars",hover_data=['date'])
fig.update_layout(title= dict(text= "Durchschnitt Sternebewertungen zu Temperatur pro Tag seit 2011"),
                  yaxis= dict(title= 'Durchschnittliche Sternebewertung',ticklen= 5,zeroline= False),
                  xaxis= dict(title= 'Durchschnittliche Temperatur [°C] ',ticklen= 5,zeroline= False))  
# showing the plot
fig.show()

In [ ]:
df_count_stars_weather = sql("""
SELECT w.date, COUNT(r.stars) count_stars, AVG(w.prcp) prcp, ((AVG(w.tmin) + AVG(w.tmax))/2) tavg FROM review r
JOIN business b ON r.business_id = b.business_id
JOIN station s ON b.id_first = s.id 
JOIN weather w ON s.id = w.id
WHERE r.date = w.date
AND r.date>= '2011-01-01'
GROUP BY w.date
ORDER BY w.date DESC
""")
df_count_stars_weather

In [ ]:
# plotting the scatter chart
fig = px.scatter(df_count_stars_weather, x="prcp", y="count_stars",hover_data=['date'])
fig.update_layout(title= dict(text= "Anzahl Sternebewertungen zu Niederschlag pro Tag seit 2011"),
                  yaxis= dict(title= 'Anzahl Sternebewertung',ticklen= 5,zeroline= False),
                  xaxis= dict(title= 'Durchschnittlicher Niederschlag [in mm] ',ticklen= 5,zeroline= False))  
# showing the plot
fig.show()

In [ ]:
# plotting the scatter chart
fig = px.scatter(df_count_stars_weather, x="tavg", y="count_stars",hover_data=['date'])
fig.update_layout(title= dict(text= "Anzahl Sternebewertungen zu Temperatur pro Tag seit 2011"),
                  yaxis= dict(title= 'Anzahl Sternebewertung',ticklen= 5,zeroline= False),
                  xaxis= dict(title= 'Durchschnittliche Temperatur [°C]',ticklen= 5,zeroline= False))  
# showing the plot
fig.show()